<!DOCTYPE html>
<html>
  <head>
    <title>FlickrApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-brand">
        <%= link_to root_path do %>
          <h4 class="title is-4 has-text-info-dark">FlickrFetchApp</h4>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
